@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #FAFAFA;
}

.top_right li {
    margin-left: 2rem;
    display: flex;
}

.top_right p {
    font-size: 0.7rem;
    color: #808080;
}


.main_nav_left p {
    font-size: 0.9rem;
    font-weight: 500;
}