@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #FAFAFA;
}

.top_right li {
    margin-left: 2rem;
    display: flex;
}

.top_right p {
    font-size: 0.7rem;
    color: #808080;
}



.main_nav_left p {
    font-size: 0.9rem;
    font-weight: 500;
}

/* .product {
    transition: all 3s ease-in-out;
}

.the_icons {
    transition: all 3s ease-in-out;
} */

.product:hover .icons {
    display: block;
    transition: all 3s ease-in-out;
}

.collection, .top_seller, .recentViewed, .categories_container, .filter_list {
    scrollbar-width: thin;
    /* cursor: pointer; */
}


.fade-anim .slider_deals {
  animation: fadeAnim 1s ease-out;
}
/* 
.step {
    width: 100%;
}

.step:not(:first-child)::before {
    @apply content-[''] bg-slate-400 absolute w-full h-[1.5px] right-2/4 top-1/4 -translate-y-2/4
}

.active .step_circle {
    @apply bg-slate-700 text-white font-medium
}

.active .step_text {
    @apply text-slate-800
}


.complete .step_circle {
    @apply bg-slate-900
}

.complete .step_text {
    @apply text-slate-800 font-medium
}

.complete:not(:first-child)::before, 
.active:not(:first-child)::before {
    @apply bg-slate-900
} */


.active .head_title {
    @apply text-slate-800
}

.active .desc {
    @apply flex
}


/* .products_container {
    display: grid;
} */


@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.footer li {
    font-size: 12px;
    font-weight: normal;
    padding: 3px 0;
}

@media (max-width: 1024px) {
    .top_right li {
        margin-left: 0;
    }

    .top_right p {
        font-size: 0.6rem;
    }

    .main_nav_left p {
        font-size: 0.87rem;
    } 
    
}