@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #FAFAFA;
    scrollbar-width: none;
}

.logo {
    font-family: 'Montserrat Alternates', sans-serif;
}

.top_right li {
    margin-left: 2rem;
    display: flex;
}

.top_right p {
    font-size: 0.6rem;
    color: #808080;
}



.main_nav_left p {
    font-size: 0.8rem;
    @apply font-medium;
}

.product:hover .icons {
    display: block;
    transition: all 3s ease-in-out;
}

.collection, .top_seller, .recentViewed, .categories_container, .filter_list, .sub_categories_tabs {
    scrollbar-width: none;
    /* cursor: pointer; */
}



.active .head_title {
    @apply text-slate-800
}

.active .desc {
    @apply flex
}

/* Category tab ( Sub-categories ) */
.tab {
    scroll-behavior: smooth;
}

.slider .thumb {
    width: 20px;
    height: 20px;
    background-color: #5a8692;
    border-radius: 30%;
    cursor: pointer;
    border: 1px solid #272727;
}

/* Policies */
.agreement_container li, .policy_container li, .vendor_policy_container li {
    list-style-type: disc;
    margin: 10px 0 10px 2rem;
    font-size: 14px;
}

.policy_container span {
    @apply font-medium text-[14px];
}

.policy_container .logo {
    @apply font-semibold text-[15px];
}



/* .products_container {
    display: grid;
} */

.fade-anim .slider_deals {
  animation: fadeAnim 1s ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.footer li {
    font-size: 12px;
    font-weight: normal;
    padding: 3px 0;
}

@media (max-width: 1024px) {
    .top_right li {
        margin-left: 0;
    }

    .top_right p {
        font-size: 0.6rem;
    }

    .main_nav_left p {
        font-size: 0.87rem;
    } 
    
}


/* Reference sake */
/* .scrollable-tabs-container ul::-webkit-scrollbar {
    display: none;
} */